body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pour que le contenu occupe au moins toute la hauteur de la fenêtre */
    font-family: 'MontSerrat', sans-serif; /* Utilisation de la police de caractères Roboto */
    font-size: 16px; /* Taille de la police de caractères par défaut */
    line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
}

.container {
    display: flex;
    flex-grow: 1; /* Pour que le contenu s'étende et prenne tout l'espace restant */
}

.menu {
    width: 200px; /* Largeur du menu */
    background-color: #f4f4f4; /* Couleur de fond du menu */
    padding: 20px; /* Espacement intérieur du menu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour le menu */
}

/* Style des liens du menu */
.menu a {
    display: block; /* Affiche les liens en tant que bloc pour qu'ils prennent toute la largeur du menu */
    text-decoration: none; /* Supprime la soulignement des liens */
    color: #333; /* Couleur du texte des liens */
    margin-bottom: 10px; /* Espacement entre les liens */
    font-weight: bold; /* Police en gras pour les liens */
}

.content {
    flex-grow: 1; /* Pour que le contenu s'étende et prenne tout l'espace restant */
    padding: 20px; /* Espacement intérieur du contenu */
    text-align: center;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none; /* Supprime les puces par défaut */
    padding: 0;
}

.article {
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Alignement vertical des éléments à l'intérieur de chaque article */
    align-items: center; /* Centrage horizontal des éléments à l'intérieur de chaque article */
    width: calc(33.33% - 20px); /* Ajustement de la largeur pour avoir 3 articles par ligne */
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; /* Inclure le padding dans le calcul de la largeur */
    flex-grow: 1; /* Permettre aux éléments d'occuper l'espace disponible sur la ligne */
}

.article img {
    max-width: 100%;
    max-height: 200px; /* Ajustement de la hauteur des images */
    margin-bottom: 10px; /* Ajout de marge en bas pour l'espace entre l'image et le prix */
}

.prix {
    font-size: 14px;
    font-weight: bold;
    margin: 0; /* Suppression de la marge autour du prix */
}

label {
    font-size: 14px; /* Ajustement de la taille de la description */
    font-weight: bold; /* Police en gras pour la description */
}

.content ul {
    display: flex; /* Utilisation de flexbox pour aligner horizontalement les articles */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    justify-content: space-around; /* Centrer les éléments horizontalement avec un espace équilibré */
}

header {
    background: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

nav #logo {
    font-weight: bold;
    font-size: 1.5rem;
}

h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif; /* Changé en Montserrat */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
